@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --c-primary: rgb(25, 175, 75);
  --c-secondary: rgb(233, 124, 35);
  --c-light: rgb(232, 237, 240);
  --c-dark: #666;
  --c-background: #bbc;
}
